<h4>
    {{ sidebar.title }}
</h4>

<img src="http://placehold.it/300x150">

<p>
    {{ sidebar.description|raw }}
</p>

{% for sBlock in sidebar.getOrderedBlocks() %}
    <hr />

    <div class="block">
        {{ display_block(sBlock.block, null, sidebar) }}
    </div>
{% endfor %}