{% extends bigfoot_theme_bundle~'::base.html.twig' %}

{% block content -%}
    <h1>WidgetParameter creation</h1>

    <form action="{{ path('widgetparameter_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('widgetparameter') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
