<div>
    <h3>{{ staticcontent.title }}</h3>
    <div>{{ staticcontent.description | raw }}</div>
    {% if staticcontent.media %}<img src="{{ asset(staticcontent.media | media) }}" />{% endif %}
</div>