{% extends 'BigfootContentBundle:templates/sidebar:layout.html.twig' %}

{% block sidebar_content %}
    {% if sidebar.title %}<h2>{{ sidebar.title }}</h2>{% endif %}
{%- for sBlock in sidebar.blocks %}
    {{ display_block(sBlock) }}
    <hr />
{%- endfor %}
{% endblock sidebar_content %}
