{% extends 'BigfootContentBundle:templates/block:layout.html.twig' %}

{% block block_content %}
    <h3>{{ block.title }}</h3>
    <div class="richText">{{ block.description|raw }}</div>
{%- if block.action is not null %}
    {{ render(url(block.action)) }}
{%- endif %}
{% endblock block_content %}
