div#templates {margin-bottom: 15px}
div#templates .group-title {display: block; text-align: center; height: 40px; line-height: 40px;border-bottom: 1px solid #000;margin-bottom: 10px;text-transform:uppercase;}
div#templates .icon-ok { margin-top: -3px }

div#templates .item-template { width: 20%;border: 1px solid #333; border-radius: 5px;margin: 2px 0 0 2px}
div#templates .item-template .template-row { width: 100%;display:inline-block;}


div#templates .item-template.w2 { width: 40%; }
div#templates .item-template.w2 .template-row { width: 49%;display:inline-block;}

div#templates .item-template.w3 { width: 60%; }
div#templates .item-template.w3 .template-row { width: 32%;display:inline-block;}

div#templates .item-template.w4 { width: 80%; }
div#templates .item-template.w4 .template-row { width: 24%;display:inline-block;}

div#templates .item-template.w5 { width: 100%; }
div#templates .item-template.w5 .template-row { width: 19%;display:inline-block;}

div#templates .template-row { text-align: center;position:relative;}
div#templates .template-row:after {content:"";width:1px;height:60%;background:#acacac;position:absolute;top:27px;right:0; }
div#templates .template-row:last-child:after {background:#fff;visibility: hidden;}