{% extends 'BigfootContentBundle:templates/block:layout.html.twig' %}

{% block block_content %}
    {% if block.title %}<h3>{{ block.title }}</h3>{% endif %}
    <div class="richText">
        {{ block.description|raw }}
    </div>
    {% if block.media %}<img class="bottom" src="{{ block.media|media }}">{% endif %}
{%- if block.action is not null %}
    {{ render(url(block.action)) }}
{%- endif %}
{% endblock block_content %}
